src/main/mule/implementation/delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="delete:\students:application\json:student-registration-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="4553b828-27c4-4ff1-a97d-f93919b50bee" message="#[payload]"/>
		<db:bulk-delete doc:name="Bulk delete" doc:id="4897c2a2-35f7-4a7c-9957-f6035516d28c" config-ref="Database_Config1">
			<db:sql ><![CDATA[delete from students where student_id= :studentID]]></db:sql>
		</db:bulk-delete>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status": "200 OK",
	"message": "deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="abc1a2d5-3c8b-4a73-8eb2-25b3d75d21e8" message="#[payload]"/>
    
</flow>
	</mule>
