src/main/mule/implementation/deleteByID.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="delete:\students\(studentID):student-registration-api-config">
        <db:delete doc:name="Delete" doc:id="a34f8925-5125-467c-bba5-556491e6619d" config-ref="Database_Config1">
			<db:sql ><![CDATA[delete from students where student_id=:studentID;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	studentID: attributes.uriParams.studentID
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status": "200 OK",
	"message": "deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
