src/main/mule/implementation/get.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\students:student-registration-api-config">
        <db:select doc:name="Select" doc:id="fce60699-727d-42c9-8d1c-95db613b9383" config-ref="Database_Config1">
			<db:sql ><![CDATA[select * from students where first_name= :firstName and last_name= :lastName;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	firstName: attributes.queryParams.firstName,
	lastName: attributes.queryParams.lastName
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map((item)->
	{
		studentID: item.student_id,
		firstName: item.first_name,
		lastName: item.last_name,
		trainerID: item.trainer_id,
		enrollmentDate: item.enrollment_date,
		courseID: item.course_id,
		emailID: item.email_id,
		schoolName: item.school_name
	}
)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
