src/main/mule/implementation/getByID.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\students\(studentID):student-registration-api-config">
        <db:select doc:name="Select" doc:id="b41f7e58-0e3d-4adc-b8cf-d17ec77cd33e" config-ref="Database_Config1">
			<db:sql ><![CDATA[select * from students where student_id= :studentID;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	studentID: attributes.uriParams.studentID
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="72cdb2a3-1019-480c-8be7-8bc9a62b277c" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0d557afa-0d5c-478d-b451-4eac67c7a6d5" />
    
</flow>
	</mule>
