src/main/mule/implementation/updateByID.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="put:\students\(studentID):application\json:student-registration-api-config">
		<set-variable value="#[attributes.uriParams.studentID]" doc:name="Set Variable" doc:id="da72456d-14d5-4910-b6b7-f4e20a33776c" variableName="studentID"/>
		<db:update doc:name="Update" doc:id="9ea49807-5b5c-4be7-8f69-a5ea3998a011" config-ref="Database_Config1">
			<db:sql ><![CDATA[update students set first_name= :firstName, last_name= :lastName
where student_id= :studentID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	studentID: vars.studentID,
	firstName: payload.firstName,
	lastName: payload.lastName
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	studentID: vars.studentID,
    message: "Student record updated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    
</flow>
	</mule>
